.cardsView{
    width: 75%;
    margin-left: 18%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2%;
    margin-top: 2%;
}



#movementOff {
    display: flex;
    flex-direction: column;
    transition: margin-left .13s cubic-bezier(0, 0, 0.1, 1) 0ms;
    }
  
    #movementOn {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    transition: margin-left .13s cubic-bezier(0, 0, 0.1, 1) 0ms;
    }

/* min-width:800px */
 @media only screen and (max-width: 1295px) { 

    .cardsView{
        margin-left: 27%;
    }
}
/* @media only screen and (max-width: 320px) {

    .cardsView{
        margin-left: 8%;
    }
} */
@media only screen and (width: 360px) {

    .cardsView{
        margin-left: 10%;
    }
}