.maindiv2{
    background-color: white;
    /* text-align: center; */
    padding: 110px;
    width: 300px;
    height: 250px;
    margin: 430px;
    margin-top: 30px;
    border: 2px solid;
    border-color: grey;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

#text3{
    color: #202124;
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 24px;
    /* margin-left: -280px; */
    display: flex;
    /* flex-direction: row; */
    margin-left: -16px;
    justify-content: center;
    margin-top: 25px;
}

/* #text3{
    color: #202124;
    font-family: 'Google Sans',arial,sans-serif;
    font-size: 18px;
     margin-left: -280px; 
    display: flex;
     flex-direction: row; 
    margin-top: 50px;
    
   
} */

#Id{
    margin-left: -24px; 
    margin-top: 35px;
}
