*{
    /*box sizing border-box;*/
    /* font-family: 'Roboto',sans-serif; */
}

.mainBody{
    height: 100vh;
 
     display: flex;
     flex-direction: row;
     place-content: stretch center;
    
 }

 .adminMainDiv{

    min-height: auto;
    width:  300px;
    padding: 40px;
    background-color: white;
  border : 1px solid #dadce0;
   
  border-radius: 10px;;
    margin: auto auto;
     margin-top: 4em;
}

.adminMainDivService {
    min-height: auto;
    width: 300px;
    padding: 40px;
    background-color: white;
    border: 1px solid #dadce0;
    /* border: 1px solid black; */
    border-radius: 10px;
    margin: auto auto;
    /* margin-left: 10%; */

}

.combineDiv{
    width: auto;
    padding: 2%;
    margin: auto auto;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* border: 1px solid black; */
}

/* .adminMainDiv1{

    min-height: auto;
    width:  300px;
    padding: 40px;
    background-color: white;
  border : 1px solid #dadce0;
  border-radius: 10px;;
    margin: auto auto;
} */


.adminMainDiv1 {
    /* min-height: auto;
    width: 380px;
    padding: 40px;
    background-color: #dadce0;
    border: 1px solid #dadce0;
    border-radius: 10px;
    margin: auto auto;
    margin-right: 20%; */


    min-height: auto;
    width: 380px;
    padding: 40px;
    background-color: #dadce0;
    border: 1px solid #dadce0;
    border-radius: 10px;
    margin: auto auto;
    margin-right: 20%;
}

#fundoo{
    font-size: xx-large;
    display: flex;
    /* margin-top: 30px; */
    flex-direction: row;
    justify-content: center;
}

#flabel{
    color:blue;
}

#ulabel{
    color:red;
}

#nlabel{
    color:#FFC300 ;
}

#dlabel{
    color:blue;
}

#olabel{
    color:green;
}

#o2label{
    color:red;
}

#login{
   
    font-weight: bold;
    display: flex;
  
    flex-direction: row;
    text-align: center;
    justify-content: center;
   
}

#text{
    /* font-family: 'Roboto',sans-serif; */
    margin-top: 7px;
    color: #5f6368;
    font-size: 14px;
}

.textfields{

    width: auto;
    /* height: 370px; */
    height: 300px;
}

#EmailPass{
  
    height: 8px;
    width: 270px;
} 

#forgotPass{
    color: #1a73e8;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  
}



#loginButton{
    background-color:#1a73e8 ;
    margin-left: 170px;
}

#cardfuns{
    display: flex;
    flex-direction: row;
    /* place-content: stretch center; */
    /* justify-content: space-evenly; */

}

/* @media only screen and (min-width: 765px) {
    .adminMainDivService {
        margin-top: 0em;
    }
    .combineDiv{
        margin-top: 0em;
    }
    
    
} */

/* @media only screen and (min-width: 375px) {
    .adminMainDivService {
        margin-top: 0em;
    }
    .combineDiv{
        margin-top: 0em;
    }
} */

@media only screen and (max-width: 1024px) {
  

        #cardfuns{
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            align-items: center;
            margin-left: -2em;
    
        }
 
    .mainBody{
       
         flex-direction: column;
         align-items: center;
    }
    /* .adminMainDivService {
        margin-left: 10%;
    } */
    .adminMainDiv1 {
        margin-left: 10%;
    }
    .combineDiv{
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-left: 2em;
    }
  
    /* .adminMainDivService {
        margin-top: 30em;
       
    } */
} 

@media only screen and (max-width: 450px) {

.combineDiv{
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-left: 2em;
}

    .adminMainDivService {
        margin-top: 32em;
        width: 70%;
        margin-left: 2px;
       
    }
    .adminMainDiv1 {
        width: 70%;
    }
    #EmailPass {
        width: 230px;
    }
    /* #log{
        display: flex;
        flex-direction: row;
        justify-content: center;
    } */
}




















.maindiv{
    background-color:white;
    text-align: center;
    padding: 50px;
    width: 300px;
    height: 400px;
    margin: 430px;
    margin-top: 30px;
    border: 2px solid;
    border-radius: 10px;
    border-color: grey;
}

#text{
    /* font-family: 'Roboto',sans-serif; */
    margin-top: 7px;
    color: #5f6368;
    font-size: 14px;
}


  


#login{
    font-style: initial;
    font-size: x-large;
    font-weight: bold;
}

.maindiv img{
    width: 400px; height: 200px;
    align-content: center;
    background-repeat: no-repeat;
}


#email{
    width: 250px; height: 20px;
}

#password{
    width: 250px; height: 20px;
}

#loginButton{
    height: 35px;
    width: 80px;
    margin-top: -50px;
    margin-left: 190px;
}

#registerButton{
    height: 35px;
    width: 250px;
}

#registerText{
    width: 300px; height: 30px;
    font-size: xx-small;
    /* font-variant-caps: all-small-caps; */
    
}

#forgetPassword{
    /* height: 30px; */
    width: 145px;
    margin-top: 0px;
    text-align: center;
    font-size: x-small;
    background-color: rgb(155, 140, 206);
    /* font-family: sans-serif; */
    margin-right: -127px;
}



#learnMore{
    color: #1a73e8;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#createAccount{
    color: #1a73e8;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.close{
    padding: 10px
}

/* @media only screen and (max-width: 400px) {

    .maindiv{
        width: 220px;
    }

    #email{
        width: 200px; height: 20px;
    }
    
    #password{
        width: 200px; height: 20px;
    }

    #loginButton{
        margin-left: 170px;
    }
}

@media only screen and (min-width: 320px) {

    .maindiv{
        width: 200px;
    }

    #fundoo{
        margin-left: 45px;
    }

    #email{
        width: 200px; height: 20px;
    }
    
    #password{
        width: 200px; height: 20px;
    }

    #loginButton{
        margin-left: 150px;
    }
}



 */
